<div class="single-character-container">
    <div class="single-character">
        <figure class="single-character-img-container">
            <img [src]="personaje.image" alt="{{ personaje.name }}">
        </figure>
        <div class="single-character-info-container">
            <div>
                <h2>{{ personaje.name }}</h2>
                <p><span>Ubicación: </span> {{ personaje.location.name }}</p>
                <p><span>Genero: </span> {{ personaje.gender }}</p>
                <p><span>Origen: </span> {{ personaje.origin.name }}</p>
                <p><span>Especie: </span> {{ personaje.species }}</p>
                <p><span>Estado: </span> {{ personaje.status }}</p>
            </div>
            <div class="btn-container">
                <a class="btn" routerLink="/">Volver atrás</a>
            </div>
        </div>
    </div>
</div>